aiohttp # наш фрейворк
aiohttp-apispec # модуль для автоматической документации
aiohttp-jinja2 # модуль для работы с HTML-шаблонами
aiopg # модуль для асинхронной работой с базой Postgres
alembic # модуль для генерации миграций
certifi # модуль, для работы с SSL-сертификатами
gino # модуль для выполнения запросов базу данных
marshmallow # модуль для работы с входными данными
PyYAML # модуль для работы с yaml-файлами
pillow
aiofiles